@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
body{
    background-color: black;
}
.all-cards{
    width: 100%;
    margin: auto;
    background-position: 50% 20px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 10%;
    padding-bottom: 1rem;
}

.card-center{
    margin-bottom: 10rem;
    z-index: 10;
    width: 30%;
    max-width: 520px;
}
.card{
    display: inline-block;
    font-family: 'Montserrat';
    padding: 20px;
    padding-bottom: 1rem;
    width: 28%;
    max-width: 400px;
    /* Card Fill */

    background: linear-gradient(153.1deg, #BE3A6F 21.5%, #A86A83 100%);
    /* Card Shadow */

    box-shadow: 8px 4px 15px 5px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 30px;
}
.title{
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin: 5px;
}
.sub-title{
    font-size: 1.5rem;
    text-align: center;
    color: #FFE8E8;
    margin: 5px;
    font-weight: 500;
}
.user-image{
    vertical-align:top;
    display: inline-block;
    width: 25%;
}

.user-image img{
    width: 95%;
    height: auto;
}

.user-details{
    position: relative;
    z-index: 3;
    margin-left: 3%;
    font-size: 1.5rem;
    width: 70%;
    display: inline-block;
}
.main-content{
    position: relative;
    margin: 2.4rem 0;
    
}
.user-name{
    color: #FFE8E8;
    font-weight: 600;
    margin: 0 0 0.3rem 0;
}
.user-organisation{
    font-size: 1.2rem;
    color: #FFE8E8;
    font-weight: 500;
    margin: 0 0 0.3rem 0;
}

.icons{
    color: #010101;
    padding-top: 0.5rem;
    font-size: 2rem;
    max-width: 150px;
    display: flex;
    justify-content: space-between;
}

a{
  text-decoration: none;
  color: #010101;  
}

a:hover{
    color: rgba(0, 0, 0, 0.7);
}
.year{
    z-index: -3;
    color: rgba(0, 0, 0, 0.3);
    top: 0rem;
    right: -0.5rem;
    position: absolute;
    font-weight: 700;
    font-size: 5rem;
    
}
@media screen and (max-width: 767px){
	.card{
        width: 70%;
        margin: 4rem auto;
    }
}

@media screen and (max-width: 1220px){
	.card{
        width: 40%;
        margin: 4rem auto;
    }
}

@media screen and (max-width: 850px){
    
	.card{
        width: 70%;
        margin: 4rem auto;
    }
}